# =========================
# Build output
# =========================
perpustakaan/target/
perpustakaan/bin/
build/
out/

# =========================
# Java / Maven
# =========================
*.class
*.log
*.ctxt
.mtj.tmp/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
buildNumber.properties
dependency-reduced-pom.xml
.mvn/timing.properties

hs_err_pid*
replay_pid*

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# =========================
# OS / temporary files
# =========================
.DS_Store
Thumbs.db
Desktop.ini
*.tmp
*.temp

# =========================
# Rogue compiler files
# =========================
perpustakaan/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
perpustakaan/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst